.Toolbar {    
    background-color: whitesmoke;
    padding: 10px;
}

.mobileSize {
    /* color: aliceblue; */
}

.Font {
    font-family: 'Oswald', sans-serif;
}

.LogoFont {

    font-family: 'Black Ops One', cursive;
}

.TopMargin {

    padding-top: 16px;
}

.navItemColors {

    color: grey;
    cursor: pointer;
}

.navItemColors:hover {

    color: black;
}

@media (max-width: 1100px) {
    .mobileSize {
        display: none;
    }
    .TopMargin {
        padding-top: 0px;
    }
} 