.Toolbar {    
    background-color: whitesmoke;
    padding: 10px;
}

.Font {
    font-family: 'Oswald', sans-serif;
}

.LogoFont {

    font-family: 'Black Ops One', cursive;
}

.TopMargin {

    padding-top: 16px;
}

.navItemColors {

    color: grey;
    cursor: pointer;
}

.navItemColors:hover {

    color: black;
}