.Container {
    /* background: -webkit-linear-gradient(to right, #43c6ac, #f8ffae); /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #43c6ac, #f8ffae); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+  */
    background: url('../../assets/images/login_bg1.jpg');
    background-attachment: inherit;
    background-size: contain;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 55px;
    /* justify-content: space-between; */
    flex: auto;
}

.Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 150px; */
    margin-top: 20px;
}

.Font {
    font-family: 'Lobster Two', cursive;
    color: white;
    font-size: 30px;
    text-align: center;
    /* text-decoration: underline; */
}

.Font2 {
    font-family: 'Black Ops One', cursive;
    color: white;
    text-align: center;
}

img {
    border-radius: 50%;
}

.Footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

button {
    width: 100%;    
    text-align: center;
    border: none;
    border-radius: 5%;
    padding: 10px;
    color: #fff;
}

.Google {
    background: #F9593A;
    margin-bottom: 10px;
}

.Facebook {
    background: #4A6EA9;
}

a, a:hover {
    text-decoration: none;
    display: block;
    color: #fff;
}


@media screen and (min-width: 768px) {
    .Container {
        flex-direction: row;
        background: url('../../assets/images/login_bg1.jpg');
        background-attachment: inherit;
        background-size: contain;
        /* height: unset; */
        /* background-repeat: no-repeat; */
    }

    .Content {
        justify-content: flex-start;
        margin-top: 0;
        padding: 130px;
    }

    .Footer {
        width: 40%;
        padding: 6%;
        margin-top: 20px;
    }


}
