.Container {
    background: -webkit-linear-gradient(to right, #43c6ac, #f8ffae); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #43c6ac, #f8ffae); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: auto;
}

.Content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    padding: 10px;   
    margin-top: 20px;
}

.Font {
    font-family: 'Oswald', sans-serif;
}

p {
    font-style: italic;
}

img {
    border-radius: 50%;
}

.Footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

button {
    width: 100%;
    text-align: center;
    border: none;
    border-radius: 5%;
    padding: 10px;
    color: #fff;
}

.Google {
    background: #F9593A;
    margin-bottom: 10px;
}

.Facebook {
    background: #4A6EA9;
}

a, a:hover {
    text-decoration: none;
    display: block;
    color: #fff;
}


@media screen and (min-width: 768px) {
    .Container {
        flex-direction: row;
        background: url('../../assets/images/login_bg.jpeg')
    }

    .Content {
        justify-content: flex-start;
        margin-top: 0;
    }

    .Footer {
        width: 40%;
        padding: 6%;
        margin-top: 20px;
    }


}
